{% extends 'base.html' %}

{% block content %}
    <h3>거래처 리스트</h3>
    <br>
    <div class="row row-cols-1 row-cols-md-3">
    {% for seller in sellers %}
      <div class="col mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'sellers-detail' seller.pk %}">{{ seller.name }}</a></h5>
            <p class="card-text">{{ seller.phone }}</p>
            <p class="card-text">{{ seller.address }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
{% endblock %}